@()

<div class="card-body">
    <div class="card-body_header">
      <h2>Nombre de Inversion</h2>
      <p>Creado por Jp<span> - </span>ID: #12345</p>
      <hr>
    </div>

    <div class="row">
      <div class="card-content_graphic">graphic here</div>

      <div class="card-content_status">
        <div class="card-content-details">
          <div class="card-content-invest-details">
            <div class="card-content-invest-details-text">Retorno</div>
            <div class="card-content-invest-details-value">10 PEN</div>
          </div>

          <div class="card-content-invest-details">
            <div class="card-content-invest-details-text">Dias restantes</div>
            <div class="card-content-invest-details-value">10 Dias</div>
          </div>

          <div class="card-content-invest-details">
            <div class="card-content-invest-details-text">Descripcion</div>
            <div class="card-content-invest-details-value">lalala</div>
          </div>

          <div class="card-content-invest-details">
            <div class="card-content-invest-details-text">Monto de invesion</div>
            <div class="card-content-invest-details-value">100 PEN</div>
          </div>

        </div>

        <div class="card-content_balance">
          <div class="card-content_balance_acumuled_title">Monto acumulado:</div>
          <div class="card-content_balance_acumuled_title"><sup>S/.</sup>5,000.00</div>
          <div class="card-content_balance_desired_title">Monto deseado:</div>
          <div class="card-content_balance_desired_title"><sup>S/.</sup>20,000.00</div>
        </div>
      </div>
    </div>
</div>